$black: #000;
$white: #fff;
$light-gray: #d9d9d9;
$gray: #666666;
$green: #32ffaa;
$dark-green: #0d9d5f;
$yellow: #fef574;
$dark-yellow: #af9c41;
$nitro-green: #16ff6c;
$purple: #6f32ff;

$spacing-lg: 8rem;
$spacing-md: 4rem;
$spacing-sm: 2rem;
$spacing-xs: 1rem;

$font-xxl: 5.6rem;
$font-xl: 4rem;
$font-lg: 3.6rem;
$font-md: 2.4rem;
$font-sm: 1.8rem;
$font-xs: 1.6rem;
$font-xxs: 1.4rem;

$max-width: 1020px;
